fastapi==0.110.0
uvicorn[standard]==0.27.1
jinja2==3.1.3
python-multipart==0.0.9
httpx==0.27.0
pydantic==2.6.1
numpy==1.26.3
pandas==2.1.4
scikit-learn==1.4.0
python-dotenv==1.0.0
# GCP / ML
google-cloud-bigquery==3.17.2
google-cloud-storage==2.14.0
db-dtypes==1.2.0
joblib==1.3.2
xgboost==2.0.3
